.started-gc {
   background-image: url("../../images/home/started.png");
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 600px;
   width: 50%;
}

/* text decoration*/
.link-underline:hover {
   text-decoration: underline;
}
