/* API styles */

/* Global Styles ------------------------------------- */
   html, body {
      height: 100%;
      width: 100%;
   }
   body {
      background-color: #FFF;
   }
   img, input, textarea {
      border-width: 0;
   }
   input, textarea {
      outline-width: 0;
   }
   body, ul, p, input, figure, table tr td, table tr th {
      margin: 0;
      padding: 0;
   }
   table {
      border-collapse: collapse;
   }
   ul {
      list-style-type: none;
   }
   header {
      min-height: 1px;
   }
   h1, h2, h3, h4, h5, h6 {
      margin: 0;
   }
   textarea {
      padding: 0;
      resize: none;
   }
   a {
      text-decoration: none;
      outline-width: 0;
   }
   body {
      min-width: 1280px;
      min-height: 768px;
      overflow: auto;
      -webkit-user-select: none;
         -moz-user-select: none;
            -ms-user-select: none;
               -o-user-select: none;
                  user-select: none;
   }

/* Measures ------------------------------------------ */
   .full-width {
      width: 100%;
   }
   .mid-width {
      width: 50%;
   }
   .full-height {
      height: 100%;
   }
   .mid-height {
      height: 50%;
   }
   .min-width-full {
      min-width: 100%;
   }
   .min-height-full {
      min-height: 100%
   }
   .mleft-auto {
      margin-left: auto!important;
   }
   .mright-auto {
      margin-right: auto!important;
   }
   .mleft2 {
      margin-left: 2px;
   }
   .mright2 {
      margin-right: 2px;
   }
   .mbottom2 {
      margin-bottom: 2px;
   }
   .mtop2 {
      margin-top: 2px;
   }
   .mleft5 {
      margin-left: 5px;
   }
   .mright5 {
      margin-right: 5px;
   }
   .mbottom5 {
      margin-bottom: 5px;
   }
   .mtop5 {
      margin-top: 5px;
   }
   .mleft10 {
      margin-left: 10px;
   }
   .mright10 {
      margin-right: 10px;
   }
   .mbottom10 {
      margin-bottom: 10px;
   }
   .mtop10 {
      margin-top: 10px;
   }
   .mleft15 {
      margin-left: 15px;
   }
   .mright15 {
      margin-right: 15px;
   }
   .mbottom15 {
      margin-bottom: 15px;
   }
   .mtop15 {
      margin-top: 15px;
   }
   .mtop17 {
      margin-top: 17px;
   }
   .mleft20 {
      margin-left: 20px;
   }
   .mright20 {
      margin-right: 20px;
   }
   .mbottom20 {
      margin-bottom: 20px;
   }
   .mtop20 {
      margin-top: 20px;
   }
   .mleft25 {
      margin-left: 25px;
   }
   .mright25 {
      margin-right: 25px;
   }
   .mbottom25 {
      margin-bottom: 25px;
   }
   .mtop25 {
      margin-top: 25px;
   }
   .mleft30 {
      margin-left: 30px;
   }
   .mright30 {
      margin-right: 30px;
   }
   .mbottom30 {
      margin-bottom: 30px;
   }
   .mtop30 {
      margin-top: 30px;
   }
   .mleft35 {
      margin-left: 35px;
   }
   .mright35 {
      margin-right: 35px;
   }
   .mbottom35 {
      margin-bottom: 35px;
   }
   .mtop35 {
      margin-top: 35px;
   }
   .mleft40 {
      margin-left: 40px;
   }
   .mleft114 {
      margin-left: 114px;
   }
   .mright40 {
      margin-right: 40px;
   }
   .mbottom40 {
      margin-bottom: 40px;
   }
   .mtop40 {
      margin-top: 40px;
   }
   .mleft45 {
      margin-left: 45px;
   }
   .mright45 {
      margin-right: 45px;
   }
   .mbottom45 {
      margin-bottom: 45px;
   }
   .mtop45 {
      margin-top: 45px;
   }
   .mleft46 {
      margin-left: 46px;
   }
   .mright46 {
      margin-right: 46px;
   }
   .mbottom46 {
      margin-bottom: 46px;
   }
   .mtop46 {
      margin-top: 46px;
   }
   .mleft50 {
      margin-left: 50px;
   }
   .mright50 {
      margin-right: 50px;
   }
   .mbottom50 {
      margin-bottom: 50px;
   }
   .mtop50 {
      margin-top: 50px;
   }
   .mbottom55 {
      margin-bottom: 55px;
   }
   .mbottom65 {
      margin-bottom: 65px;
   }
   .mbottom75 {
      margin-bottom: 75px;
   }
   .mbottom80 {
      margin-bottom: 80px;
   }
   .mleft85 {
      margin-left: 85px;
   }
   .mright80 {
      margin-right: 80px;
   }
   .mright85 {
      margin-right: 85px;
   }
   .mbottom85 {
      margin-bottom: 85px;
   }
   .mtop85 {
      margin-top: 85px;
   }
   .mtop145 {
      margin-top:145px;
   }
   .mleft145 {
      margin-left:145px;
   }
   .mright145 {
      margin-right:145px;
   }
   .mbottom145 {
      margin-bottom:145px;
   }
   .mtop150 {
      margin-top:150px;
   }
   .mleft150 {
      margin-left:150px;
   }
   .mright150 {
      margin-right:150px;
   }
   .mbottom150 {
      margin-bottom:150px;
   }
   .mright370 {
      margin-right:370px;
   }
   .mright380 {
      margin-right:380px;
   }
   .mright400 {
      margin-right:400px;
   }
   .pleft1 {
      padding-left: 1px;
   }
   .pright1 {
      padding-right: 1px;
   }
   .pbottom1 {
      padding-bottom: 1px;
   }
   .ptop1 {
      padding-top: 1px;
   }
   .pleft2 {
      padding-left: 2px;
   }
   .pright2 {
      padding-right: 2px;
   }
   .pbottom2 {
      padding-bottom: 2px;
   }
   .ptop2 {
      padding-top: 2px;
   }
   .pleft5 {
      padding-left: 5px;
   }
   .pright5 {
      padding-right: 5px;
   }
   .pbottom5 {
      padding-bottom: 5px;
   }
   .ptop5 {
      padding-top: 5px;
   }
   .ptop15 {
      padding-top: 15px;
   }
   .pleft10 {
      padding-left: 10px;
   }
   .pleft15 {
      padding-left: 15px;
   }
   .pright15 {
      padding-right: 15px;
   }
   .pleft20 {
      padding-left: 20px;
   }
   .pleft25 {
      padding-left: 25px;
   }
   .pright10 {
      padding-right: 10px;
   }
   .pright25 {
      padding-right: 25px;
   }
   .pbottom10 {
      padding-bottom: 10px;
   }
   .pbottom15 {
      padding-bottom: 15px;
   }
   .ptop10 {
      padding-top: 10px;
   }
   .pright20 {
      padding-right: 20px;
   }
   .pbottom20 {
      padding-bottom: 20px;
   }
   .ptop20 {
      padding-top: 20px;
   }
   .ptop21 {
      padding-top: 21px;
   }
   .ptop25 {
      padding-top: 25px;
   }
   .pbottom25 {
      padding-bottom: 25px;
   }
   .pright30 {
      padding-right: 30px;
   }
   .pleft30 {
      padding-left: 30px;
   }
   .pbottom30 {
      padding-bottom: 30px;
   }
   .ptop35 {
      padding-top: 35px;
   }
   .pbottom35 {
      padding-bottom: 35px;
   }
   .pright40 {
      padding-right: 40px;
   }
   .pleft40 {
      padding-left: 40px;
   }
   .pbottom45 {
      padding-bottom: 45px;
   }
   .ptop40 {
      padding-top: 40px;
   }
   .pright50 {
      padding-right: 50px;
   }
   .ptop50 {
      padding-top: 50px;
   }
   .pleft50 {
      padding-left: 50px;
   }
   .no-margin {
      margin: 0;
   }
   .no-padding {
      padding: 0;
   }
   .ptop25pct {
      padding-top: 25%;
   }
   .mtop40pct {
      margin-top: 40%;
   }
   .mtop50pct {
      margin-top: 50%;
   }
   .ptop40pct {
      padding-top: 40%;
   }
   /* Position 5px*/
   .top5 {
      top: 5px;
   }
   .left5 {
      left: 5px;
   }
   .right5 {
      right: 5px;
   }
   .bottom5 {
      bottom: 5px;
   }
   /* Position 10px*/
   .top10 {
      top: 10px;
   }
   .top20 {
      top: 20px;
   }
   .left10 {
      left: 10px;
   }
   .right10 {
      right: 10px;
   }
   .bottom10 {
      bottom: 10px;
   }
   .ptop30 {
      padding-top: 30px;
   }
   .ptop45 {
      padding-top: 45px;
   }
   .bottom75 {
      bottom: 75px;
   }
   .ptop55 {
      padding-top: 55px;
   }
/* Distribution -------------------------------------- */
   .pull-left {
      float: left;
   }
   .pull-right {
      float: right;
   }
   .top {
      top: 0;
   }
   .left {
      left: 0;
   }
   .right {
      right: 0;
   }
   .bottom {
      bottom: 0;
   }
   .relative {
      position: relative;
   }
   .absolute {
      position: absolute;
   }
   .fixed {
      position: fixed;
   }

/* Text ---------------------------------------------- */
   .text-middle {
      vertical-align: middle;
   }

   .text-center {
      text-align: center;
   }

   .text-right {
      text-align: right;
   }

   .text-left {
      text-align: left;
   }

   .text-justify {
      text-align: justify;
   }

   .text-bottom {
      vertical-align: bottom;
   }

   .text-top {
      vertical-align: top;
   }

   .text-sub {
      vertical-align: sub;
   }

   .text-baseline {
      align-items: baseline;
   }

   .text-flex-center {
      align-items: center;
      -ms-box-align:center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
   }
   .underline {
      text-decoration: underline;
   }
   .ellipsis {
      text-overflow: ellipsis;
   }
   .nowrap {
      white-space: nowrap;
   }
   .uppercase {
      text-transform: uppercase;
   }
   .lowercase {
      text-transform: lowercase;
   }
   .text-break {
      -ms-word-break: break-all;
         -epub-word-break: break-all;
            word-break: break-all;
   }
   .unselectable {
      -webkit-touch-callout: none;
         -webkit-user-select: none;
            -khtml-user-select: none;
               -moz-user-select: none;
                  -ms-user-select: none;
                     user-select: none;
   }
   .capitalize {
      text-transform: capitalize;
   }
   .indent5 {
      text-indent: 5px
   }
   .indent10 {
      text-indent: 10px
   }

/* Aparience ----------------------------------------- */
   .clear {
      clear: both;
   }
   .flex {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
   }
   .inline {
      display: inline;
   }
   .block {
      display: block;
   }
   .inline-block {
      display: inline-block;
   }
   .table {
      display: table;
   }
   .table-row {
      display: table-row;
   }
   .table-cell {
      display: table-cell;
   }
   .table-head {
      display: table-header-group;
   }
   .table-body {
      display: table-row-group;
   }
   .table-foot {
      display: table-footer-group;
   }
   .hidden {
      display: none;
   }
   .pointer {
      cursor: pointer;
   }
   .show-scroll {
      overflow: auto;
   }
   .hide-scroll {
      overflow: hidden;
   }
   .hide-scrollx {
      overflow-x: hidden;
   }
   .hide-scrolly {
      overflow-y: hidden;
   }
   .no-border {
      border: none !important;
   }
   .no-outline {
      outline-width: 0;
   }
   .no-visible {
      visibility: hidden;
   }
   .no-style {
      list-style-type: none;
   }
   .no-radius {
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
            border-radius: 0;
   }
   .no-underline {
      text-decoration: none;
   }

   /* Flex box styles -------------------------------- */
   .space-between {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      -ms-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
   }

   .content-center {
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -ms-box-direction: normal;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
         -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            -ms-box-pack: center;
               -moz-box-pack: center;
                  -ms-flex-pack: center;
                     -webkit-justify-content: center;
                        justify-content: center;
   }

   .content-left {
      justify-content: flex-start;
   }

   .content-right {
      justify-content: flex-end;
   }

   .content-between {
      justify-content: space-between;
   }

   .content-around {
      justify-content: space-around;
   }

   .content-top {
      align-items: flex-start;
   }

   .content-column {
      -webkit-flex-direction: column;
         -ms-flex-direction: column;
            flex-direction: column;
   }
/* Background ---------------------------------------- */
   .bg-beige {
      background-color: beige;
   }
   .bg-black {
      background-color: black;
   }
   .bg-blue {
      background-color: blue;
   }
   .bg-brown {
      background-color: brown;
   }
   .bg-chocolate {
      background-color: chocolate;
   }
   .bg-coral {
      background-color: coral;
   }
   .bg-cyan {
      background-color: cyan;
   }
   .bg-fuchsia {
      background-color: fuchsia;
   }
   .bg-gold {
      background-color: gold;
   }
   .bg-gray {
      background-color: gray;
   }
   .bg-green {
      background-color: green;
   }
   .bg-indigo {
      background-color: indigo;
   }
   .bg-khaki {
      background-color: khaki;
   }
   .bg-lime {
      background-color: lime;
   }
   .bg-magenta {
      background-color: magenta;
   }
   .bg-maroon {
      background-color: maroon;
   }
   .bg-navy {
      background-color: navy;
   }
   .bg-olive {
      background-color: olive;
   }
   .bg-orange {
      background-color: orange;
   }
   .bg-orchid {
      background-color: orchid;
   }
   .bg-peru {
      background-color: peru;
   }
   .bg-pink {
      background-color: pink;
   }
   .bg-plum {
      background-color: plum;
   }
   .bg-purple {
      background-color: purple;
   }
   .bg-red {
      background-color: red;
   }
   .bg-salmon {
      background-color: salmon;
   }
   .bg-silver {
      background-color: silver;
   }
   .bg-tan {
      background-color: tan;
   }
   .bg-teal {
      background-color: teal;
   }
   .bg-turquoise {
      background-color: turquoise;
   }
   .bg-violet {
      background-color: violet;
   }
   .bg-white {
      background-color: white;
   }
   .bg-yellow {
      background-color: yellow;
   }
   .bg-plum {
      background-color: plum;
   }
   .bg-silver {
      background-color: silver;
   }
   .bg-tan {
      background-color: tan;
   }
   .bg-teal {
      background-color: teal;
   }
   .bg-turquoise {
      background-color: turquoise;
   }
   .bg-violet {
      background-color: violet;
   }
   .bg-transparent {
      background-color: transparent;
   }

   .bg-red-degraded{
      background-color: #fc040412;
   }

/* Color --------------------------------------------- */
   .black {
      color: black;
   }
   .white {
      color: white;
   }
   .gray {
      color: gray;
   }
   .red {
      color: red;
   }
   .green {
      color: green;
   }
   .blue {
      color: blue;
   }
   .yellow {
      color: yellow;
   }
   .green-lime{
      color: #3ad73a;
   }

/* Border -------------------------------------------- */
   .border {
      border-style: solid;
      border-width: 1px;
   }
   .border1 {
      border-width: 1px;
   }
   .border2 {
      border-width: 2px;
   }
   .border3 {
      border-width: 3px;
   }
   .border-solid {
      border-style: solid;
   }
   .border-dashed {
      border-style: dashed;
   }
   .border-top {
      border-width: 1px 0 0 0;
   }
   .border-right {
      border-width: 0 1px 0 0;
   }
   .border-bottom {
      border-width: 0 0 1px 0;
   }
   .border-left {
      border-width: 0 0 0 1px;
   }
   .border-black {
      border-color: black;
   }
   .border-white {
      border-color: white;
   }
   .border-gray {
      border-color: gray;
   }
   .border-red {
      border-color: red;
   }
   .border-green {
      border-color: green;
   }
   .border-blue {
      border-color: blue;
   }
   .border-yellow {
      border-color: yellow;
   }
   .border-box {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
            box-sizing: border-box;
   }
/* Outline -------------------------------------------------------- */
   .outline {
      outline-style: solid;
      outline-width: 1px;
   }

/* Font ---------------------------------------------- */
   .font8 {
      font-size: 8px;
   }
   .font9 {
      font-size: 9px;
   }
   .font10 {
      font-size: 10px;
   }
   .font11 {
      font-size: 11px;
   }
   .font12 {
      font-size: 12px;
   }
   .font13 {
      font-size: 13px;
   }
   .font14 {
      font-size: 14px;
   }
   .font15 {
      font-size: 15px;
   }
   .font16 {
      font-size: 16px;
   }
   .font17 {
      font-size: 17px;
   }
   .font18 {
      font-size: 18px;
   }
   .font19 {
      font-size: 19px;
   }
   .font20 {
      font-size: 20px;
   }
   .font21 {
      font-size: 21px;
   }
   .font22 {
      font-size: 22px;
   }
   .font23 {
      font-size: 23px;
   }
   .font24 {
      font-size: 24px;
   }
   .font25 {
      font-size: 25px;
   }
   .font26 {
      font-size: 26px;
   }
   .font27 {
      font-size: 27px;
   }
   .font28 {
      font-size: 28px;
   }
   .font30 {
      font-size: 30px;
   }
   .font48 {
      font-size: 48px;
   }
   /* Font-text-styles */
   .font-bold {
      font-weight: bold;
   }
   .font-semi {
      font-weight: 600;
   }
   .font-normal {
      font-weight: normal;
      font-style: normal;
   }
   .font-italic {
      font-style: italic;
   }
   .text-dashed {
      text-decoration: dashed;
   }
   .text-overline {
      text-decoration: overline;
   }
   .text-underline {
      text-decoration: underline;
   }


/* Z-index ------------------------------------------- */
   .index1 {
      z-index: 1;
   }
   .index2 {
      z-index: 2;
   }
   .index3 {
      z-index: 3;
   }
   .index4 {
      z-index: 4;
   }
   .index5 {
      z-index: 5;
   }
   .index6 {
      z-index: 6;
   }
   .index7 {
      z-index: 7;
   }
   .index8 {
      z-index: 8;
   }
   .index9 {
      z-index: 9;
   }
   .index10 {
      z-index: 10;
   }
   .index15 {
      z-index: 15;
   }
   .index20 {
      z-index: 20;
   }
   .index30 {
      z-index: 30;
   }
   .index40 {
      z-index: 40;
   }
   .index50 {
      z-index: 50;
   }
   .index100 {
      z-index: 100;
   }
   .index102 {
      z-index: 102;
   }
   .index105 {
      z-index: 105;
   }
   .index200 {
      z-index: 200;
   }
   .index210 {
      z-index: 210;
   }

/* Table -------------------------------------------- */
   .table-fixed {
      table-layout: fixed;
   }
   .table-auto {
      table-layout: auto;
   }

/* Border Radius ------------------------------------- */
   .radius1 {
      -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
               border-radius: 1px;
   }
   .radius2 {
      -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
               border-radius: 2px;
   }
   .radius5 {
      -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
               border-radius: 5px;
   }
   .radius10 {
      -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
               border-radius: 10px;
   }
   .radius15 {
      -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
               border-radius: 15px;
   }
   .radius20 {
      -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
               border-radius: 20px;
   }

   /* For searchs */
   .highlight {
      font-weight: bold!important;
   }
