/* Global Styles ------------------------------------- */
   body {
      color: #666;
   }
   body, textarea, input, button, a, h1, h2, h3, h4, h5, h6 {
      font-family: 'Open Sans', Helvetica;
   }
/* Fields */
.app-text-field {
   height: 30px;
   border: 1px solid #C9C9C9;
}
.app-text-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field input::-moz-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field input:-ms-input-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field input:-moz-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}

/* Background ---------------------------------------- */
   .bg-gray-F2F2F2 {
      background-color: #F2F2F2;
   }
   .bg-blue-09F {
      background-color: #09F;
   }
   .bg-C9C9C9 {
      background-color: #C9C9C9;
   }
/* Color --------------------------------------------- */
   .blue-09F {
      color: #09F;
   }
   .blue-06F {
      color: #06F;
   }
   .gray-666 {
      color: #666;
   }
   .gray-787878 {
      color: #787878;
   }
   .gray-B8B8B8 {
      color: #B8B8B8;
   }
   .gray-ABABAB {
      color: #ABABAB;
   }
   .gray-F2F2F2 {
      color: #F2F2F2;
   }
   .gray-828282 {
      color: #828282;
   }
   .black-333 {
      color: #333;
   }

/* Border -------------------------------------------- */
   .border-F2F2F2 {
      border-color: #F2F2F2;
   }
   .border-CCC {
      border-color: #CCC;
   }
   .border-444 {
      border-color: #444;
   }

/* Tags ---------------------------------------------- */
   button {
      border-color: #CCC;
      border-style: solid;
      border-width: 1px;
      cursor: pointer;
      outline-width: 0;
   }

   button.bg-blue1,
   button.bg-red1,
   button.bg-green1,
   button.bg-yellow1 {
      color: white;
   }

   button.bg-gray {
      color: #4C4C4C;
   }

   button.bg-blue1 {
      background: #0080fd;
   }

   button.bg-gray {
      background: #eeeeee;
   }
/* General ------------------------------------------- */
   .size-100x30 {
      width: 100px;
      height: 30px;
   }

/* Divider */
.app-divider-line {
   height: 1px;
}
